h2{
    text-align: center;
    color: red;
}

body{
    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
}
h3{
    color: #c67ace;
    font-family: Arial, Helvetica, sans-serif;
}
ul,ol{
    list-style-position:inside
}
h4{
    color:brown;
}